ChangeLog
.*.swp
src/*.c
*.o
*.a
Makefile
aclocal.m4
autom4te.cache
config.h
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
.deps
*.in
stamp-*
src/openbmap-locator
*.gir.vapi
*.stamp
tmp
openbmap-locator.control
local-make-ipkg
